@tailwind base;
@tailwind components;
@tailwind utilities;

/* スムーススクロールを全体に適用 */
html {
  scroll-behavior: smooth;
}

/* リセットと背景画像設定 */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-x: hidden; /* 横スクロールのみ無効化 */
}

body.background-image {
  background-image: url("/images/bg1.jpg"); /* 適切なパスに変更 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* 背景を固定 */
  position: relative;
}



/* アプリのコンテンツに重なって表示されないようにする */
.content {
  position: relative;
  z-index: 1;
}

@keyframes scaleBounce {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.animate-scale-bounce {
  animation: scaleBounce 1.5s infinite ease-in-out;
}


@keyframes scroll-up {
  0% { transform: translateY(100%); }
  100% { transform: translateY(-100%); }
}

@keyframes scroll-down {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(100%); }
}

.scroll-up {
  animation: scroll-up 20s linear infinite;
}

.scroll-down {
  animation: scroll-down 20s linear infinite;
}

@keyframes loop-down {
  0% { transform: translateY(-50%); }
  100% { transform: translateY(0); }
}

@keyframes loop-up {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}

.scroll-down.animate-loop {
  animation: loop-down 20s linear infinite;
}

.scroll-up.animate-loop {
  animation: loop-up 20s linear infinite;
}